.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 64px;    
}

.productos__linea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 64px 0px; */
    gap: 16px; 
    flex-wrap: wrap;
    width: 80%;
    height: auto;
}

.productos__linea__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;    

    width: 100%;
    height: 38px;
}

.productos__linea__top h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.productos__linea__top__btn, .productos__linea__top__volver{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    border: none;
    background-color: #F5F5F5;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

.productos__linea__top__btn:hover, .item__link:hover, .productos__linea__top__volver:hover{
    cursor: pointer;
    color: #75a8ec;    
}

.productos__linea__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 100%;
    height: 252px;
}

.productos__linea__lista__busqueda, .productos__linea__lista__todos{
    display: flex;
    flex-direction: row;   
    align-items: center;
    padding: 0px;
    gap: 55px 55px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}

.productos__linea__lista__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 176px;
    height: 252px;
}

/* .productos__linea__lista__item img:hover{
    opacity: 70%;
    cursor: pointer;
} */

.item__nombre{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: #464646;
}

.item__precio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.item__link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-decoration: none;
}

.btn__agregar__prod{
    width: 163px;
}

.editar{
    color: orange;
}
.editar:hover{
    color: rgb(255, 195, 82);
}

.eliminar{
    color: red;
}

.eliminar:hover{
    color: rgb(255, 82, 82);
}

.item__links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*Tablet*/
@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    
    .productos__linea{
        width: 90%;
    }
    
    .productos__linea__top h2{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }    

    .productos__linea__lista{   
        gap: 35px 10px;     
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .productos__linea__lista__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        
        width: 164px;
        height: 252px;
    }

    .productos__linea__lista__item img{
        width: 164px;
        height: 174px;
    }
    
}

@media only screen and (max-width: 767px) and (min-width: 360px) {

    .productos__linea{
        width: 90%;
    }
    
    .productos__linea__top h2{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }    

    .productos__linea__lista{   
        gap: 35px 10px;     
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .productos__linea__lista__busqueda{   
        gap: 35px 10px;     
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .productos__linea__lista__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        
        width: 154px;
        height: 252px;
    }

    .productos__linea__lista__item img{
        width: 156px;
        height: 165px;
    }
}